streamlit>=1.28.0

Run cmd to install streamlit:
        python -m pip install streamlit   

Then run cmd:
        g++ -std=c++11 -I src src/main.cpp src/grammar/grammar.cpp src/parser/lr0.cpp src/parser/slr_table.cpp src/parser/parser.cpp src/parse_tree/parse_tree.cpp src/ast/ast.cpp -o slr_parser.exe

        cd app       

        python -m streamlit run app.py 